@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
body {
  font-family: "Lato", sans-serif;
}
.multidiv {
  width: 25%;
}
#main-video-js {
  width: 1000px;
  height: 520px;
}
#mobile-logout {
  display: none;
  float: right;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 0.8em;
}
.modal-body {
  height: 300px;
  overflow-y: auto;
}
#cv-div {
  box-shadow: 5px 5px 5px grey;
}

.mt-40 {
  margin-top: 5%;
}
@media only screen and (max-width: 600px) and (min-width: 200px) {
  .multidiv {
    width: 100% !important;
  }
  .hide-div {
    display: none;
  }
  .mt-40 {
    margin-top: 40%;
  }
  #main-video-js {
    width: 300px;
    height: 420px;
  }
  #web-logout {
    display: none;
  }
  #mobile-logout {
    display: inline;
    float: right;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 0.8em;
  }
  #left-div-player {
    margin-left: 5%;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #005585;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.gradient-bg {
  background-color: #000046;
  /* background-image: linear-gradient(to top right, #000046, #1cb5e0); */
}
.vertical-center {
  margin: 0;
  margin-left: 15%;
  /* position: absolute;
  top: 50%; */
  margin-top: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.logoo img {
  width: 30%;
  height: 66px;
  margin-top: -3%;
  margin-left: 10px;
}
.video {
  height: 280px !important;
  margin-left: 20%;
}
.thambnail {
  height: 140px !important;
  margin-left: 14%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.send-btn-for-upload {
  padding-top: 3%;
  padding-left: 6%;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile-img img {
  margin-right: 80px;
}
.profile-img button {
  margin-right: 15px;
}
#mySidenav {
  z-index: 12;
}
#applicant_profile {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  /* margin-left: 20%; */
  margin-bottom: 8%;
  margin-top: 2%;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
